<div class="container">
  <div class="row">
     <div class="col-md-5 offset-md-3"><br>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            
            <div class="form-control">
             <label for="firstname">First Name:</label>
             <input formControlName="firstName" [ngClass]="{'is-invalid':submitted && registerForm.controls['firstName'].errors}" type="text" class="form-control">
              <div *ngIf="submitted && registerForm.controls['firstName'].errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls['firstName'].errors">
                  firstName is must be required!!
              </div>
              </div>
            </div>

            <div class="form-control">
              <label for="lastname">Last Name:</label>
              <input formControlName="lastName" [ngClass]="{'is-invalid': submitted && registerForm.controls['lastName'].errors}" type="text" class="form-control">
              <div *ngIf="submitted && registerForm.controls['lastName'].errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls['lastName'].errors">
                  LastName is must be required!!
              </div>
              </div>
            </div>
          
             <div class="form-control">
              <label for="email">Email Address:</label>
              <input formControlName="email" [ngClass]="{'is-invalid': submitted && registerForm.controls['email'].errors}" type="text" class="form-control">
              <div *ngIf="submitted && registerForm.controls['email'].errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls['email'].errors['required']" >
                  Email is must be required!!
              </div>

              <div *ngIf="submitted && registerForm.controls['email'].errors['email']">
                <b>Email is not Valid!!</b>
            </div>
              </div>
            </div>
          
             <div class="form-control">
              <label for="password">Password:</label>
              <input formControlName="password" [ngClass]="{'is-invalid': submitted && registerForm.controls['password'].errors}"  type="text" class="form-control">
              <div *ngIf="submitted && registerForm.controls['password'].errors" class="text-danger">
                <div *ngIf="submitted && registerForm.controls['password'].errors['required']" >
               Password is must be required!!
              </div>

              <div *ngIf="submitted && registerForm.controls['password'].errors['minlength']">
                  <b>Password should be atleast 8 character!!</b>
            </div>
              </div>
            </div>
             
             <div class="form-control">
              <button class="btn btn-primary">Register</button>
             </div>
           
          
          </form>
      </div>
  </div>
</div>